---
const { setStyle } = Astro.props;

import Picture from 'astro/components/Picture.astro';

import services from '@/utils/services.js';

import ReadMore from '../other/BTN.astro';
---

<section class="section" style={`background: ${setStyle}`}>
  <div class="maxwidth flex flex-col items-center justify-center gap-10">
    <h2>Comprehensive <span class="halfHeading">Service Offerings</span></h2>
    <div>
      {
        services.map((service) => (
          <div class="section flex justify-between not-even:flex-row-reverse">
            <div class="my-auto align-middle md:w-1/2">
              <h3 set:html={service.description} />
              <p class="py-6 leading-loose" set:html={service.full_description} />

              <ReadMore btnLink={service.pageLink} btnClass="buttonSimple" btnText="Read more...." />
            </div>
            <div class="hidden transition-shadow hover:shadow-md md:block md:w-1/2 lg:w-1/3">
              <Picture src={service.image.path} alt={service.image.alt} />
            </div>
          </div>
        ))
      }
    </div>
    {/* //TODO: colors and fond size through variables */}
  </div>
</section>
