---
// Props: services (array of service objects)
const { services } = Astro.props;
---

<section class="section">
  <div class="maxwidth mx-auto px-4">
    <h2>Browse Our <span class="halfHeading"> Comprehensive Service Offerings</span></h2>

    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
      {
        services.map((service) => (
          <div class="serviceDiv">
            <div>
              <div class="flex items-center gap-2">
                <div class="serviceIcon">{service.icon}</div>
                <h3 class="tags">{service.title}</h3>
              </div>
              <h4 class="serviceHeading my-4" set:html={service.description} />
              <ul class="ml-4 list-outside list-disc">
                {service.deliverables.map((listItem) => (
                  <li class="py-1">{listItem}</li>
                ))}
              </ul>
            </div>

            <a class="button mt-4" href={service.pageLink}>
              View Details
            </a>
          </div>
        ))
      }
    </div>
  </div>

  {
    /* .tags {
    @apply inline-block rounded px-2 py-1;
    // background-color: var(--color-primary-light);
    // color: var(--color-primary);
  } */
  }
</section>

<style>
  @reference "tailwindcss";

  h2 {
    @apply mb-8 text-center;
  }

  .serviceDiv {
    @apply flex flex-col justify-between rounded-2xl p-6 shadow-md transition hover:shadow-xl;
    background-color: var(--color-white);
  }

  .serviceIcon {
    @apply text-3xl;
  }
</style>
