---
import { Astro } from 'astro';


const {
  title = 'Indivirtus - Contract Research Organization',
  description = 'Default description', // TODO: Add default description
  keywords = '', // TODO: Add default keywords
  image = '/logo.svg', // TODO: Add default image
  url = Astro.url.origin + Astro.url.pathname,
  type = 'website',
  twitterHandle = '@indivirtus',
  schema = null,
  locationSchema = null,
  servicesSchema = null,
  canonical = null
} = Astro.props;

const jsonLocationSchema = JSON.stringify(locationSchema, null, 0);
const jsonSchema = JSON.stringify(schema, null, 0);
const jsonServiceSchema = JSON.stringify(servicesSchema, null, 0);
---

<head>
  <title>{title}</title>
  
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />


  {canonical && (
    <link rel="canonical" href={canonical} />
  )}

  <meta property="og:locale" content="en_US">
  <meta property="og:type" content={type} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={url} />


  <meta name="twitter:card" content={image} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />
  <meta name="twitter:site" content={twitterHandle} />
  <meta name="twitter:creator" content={twitterHandle} />


  {/* <meta property="og:type" content={type} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={image} />
  <meta property="og:url" content={url} />
  <meta property="og:site_name" content="www.indivirtus.com" /> */}


  {schema && (
    <script type="application/ld+json" set:html={jsonSchema}>
    </script>
  )}

  {locationSchema && (
    <script type="application/ld+json" set:html={jsonLocationSchema}>
    </script>
  )}

  {servicesSchema && (
    <script type="application/ld+json" set:html={jsonServiceSchema}>
    </script>
  )}

  </head>
