---
const { data, bgColor, ariaLabel } = Astro.props;
const { heading, detail, itemList } = data;
---

<section aria-labelledby=`${ariaLabel}-heading` class=`${bgColor} section`>
  <div class="maxwidth">
    <h2 id="approach-heading" class="mb-6 text-center" set:html={heading} />
    {detail && detail.map((item) => <p class="mx-auto mb-4 md:max-w-2/3" set:html={item} />)}
    <div class="mx-auto md:max-w-2/3">
      <ul class="text-gray ml-4 list-outside list-disc">
        {itemList && itemList.map((item, index) => <li key={index} class="pb-2.5" set:html={item} />)}
      </ul>
    </div>
  </div>
</section>
