---
import offices from '../../data/js/offices.js'

// Importing the GoTopBtn component for the "Back to Top" button
import GoTopBtn from '../other/GoTopBtn.astro'

// Font Awesome
import { library, icon } from '@fortawesome/fontawesome-svg-core'

// import { faYoutube } from "@fortawesome/free-brands-svg-icons";
import { faMapMarkerAlt, faPhoneSquare, faEnvelopeSquare } from '@fortawesome/free-solid-svg-icons'
import { Fragment } from 'react'

// Declare all the icons you plan on using
library.add(faPhoneSquare, faMapMarkerAlt, faEnvelopeSquare)

// Instantiate the icon with the icon function
const mapIcon = icon({ prefix: 'fas', iconName: faMapMarkerAlt.iconName })
const phoneIcon = icon({ prefix: 'fas', iconName: faPhoneSquare.iconName })
const emailIcon = icon({ prefix: 'fas', iconName: faEnvelopeSquare.iconName })

// Importing the SetMarginTop component for setting margin top
import SetMarginTop from '../extras/setMarginTop.astro'
---

<footer class="footer px-6 pt-8 pb-4">
  {/* Upper Section */}
  <div>
    <h2 class="mb-8 text-center">Our Global Offices</h2>
    {/* TODO: design in the drop box */}
    <div class="addDiv mx-auto grid max-w-6xl grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
      {
        offices.map((office) => (
          <div>
            <h3 class="officeCountry mb-2 text-center">{office.location}</h3>
            <div class="mb-2 flex">
              <>
                <div class="footerIcon">
                  <Fragment set:html={mapIcon.html} />
                </div>
                <a class="addDetails" href={'http://maps.google.com/?q=' + office.address} target={'_blank'}>
                  {office.address}
                </a>
              </>
            </div>

            <div class="mb-2 flex">
              <>
                <div class="footerIcon">
                  <Fragment set:html={phoneIcon.html} />
                </div>
                <a class="addDetails" href={'tel:' + office.phone}>
                  {office.phone}
                </a>
              </>
            </div>

            <div class="mb-2 flex">
              <>
                <div class="footerIcon">
                  <Fragment set:html={emailIcon.html} />
                </div>
                <a class="addDetails" href={'mailto:' + office.email}>
                  {office.email}
                </a>
              </>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <div class="footerCopyright mt-8 text-center">
    &copy; {new Date().getFullYear()} Indivirtus Healthcare Services Pvt. Ltd. All rights reserved.
  </div>

  {
    /* <!-- Lower Section -->
  <div
    class="border-t border-gray-700 pt-12 grid grid-cols-1 md:grid-cols-3 gap-12 max-w-6xl mx-auto"
  >
    <!-- Company Info -->
    <div>
      <h3 class="text-xl font-semibold mb-4">About Our Company</h3>
      <p class="text-sm text-gray-400">
        We are a leading global tech company offering innovative solutions in
        web development, cloud hosting, and digital marketing. Our mission is to
        empower businesses with cutting-edge technologies.
      </p>
    </div>

    <!-- Services -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Our Services</h3>
      <ul class="space-y-2">
        {
          footerData.services.map((service) => (
            <li class="text-sm text-gray-300 hover:text-white cursor-pointer">
              {service}
            </li>
          ))
        }
      </ul>
    </div>

    {
    <!-- Quick Links -->
    <div>
      <h3 class="text-xl font-semibold mb-4">Quick Links</h3>
      <ul class="space-y-2">
        {
          footerData.quickLinks.map((link) => (
            <li class="text-sm text-gray-300 hover:text-white cursor-pointer">
              {link}
            </li>
          ))
        }
      </ul>
    </div>
    } */
  }
</footer>
<GoTopBtn />
<SetMarginTop />

<style>
  @reference 'tailwindcss';

  .footer {
    background-color: var(--color-primary);
    color: var(--color-white);

    & h2 {
      color: var(--color-white);
    }
  }

  .officeCountry {
    color: var(--color-secondaryOrange);
  }

  .addDetails {
    @apply ml-1.5;
    color: var(--color-white);
  }

  .footerIcon {
    @apply min-w-[15px] align-middle relative;
    color: var(--color-white);

    svg {
      @apply relative top-1/2 -translate-1/2;
    }
  }

  .addDiv > div {
    &:nth-child(1) {
      @apply md:hidden;
    }
    &:nth-child(2) {
      @apply md:hidden;
    }
    &:nth-child(3) {
      @apply hidden md:block;
    }
    &:nth-child(4) {
      @apply hidden md:block;
    }
  }

  .footerCopyright {
    margin-top: 2rem;
    padding-top: 1rem;
    overflow: hidden;
    color: rgb(from var(--color-white) r g b / 0.7);

    &:before {
      display: block;
      position: absolute;
      left: -10%;
      margin-top: -1rem;
      margin-bottom: 1rem;
      background-color: var(--color-secondaryOrange);
      width: 110%;
      height: 1px;
      content: '';
    }
  }
</style>
