---
// Imports
import Layout from '../../../layouts/Layout.astro';
import '@/styles/global.css';

// SEO Data
import seoData from '@/data/js/services/gmp-audits/audit-representation';

// Components
import Faq from '@/components/other/Faq.astro';
import HeroSection from '@/components/services/HeroSection.astro';
import OverviewCards from '@/components/services/subServices/OverviewCards.astro';
import SubSection from '@/components/services/subServices/SubSection.astro';
import CTASection from '@/components/services/CTASection.astro';
import DeliverableCards from '@/components/services/subServices/DeliverableCards.astro';

const { meta, image, schema, faqSchema, pageLink, pageContent } = seoData;
const { mainEntity } = faqSchema;
const { hero, overview, approach, deliverables, compliance, applications, conclusion, cta } = pageContent;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    image: image.path.src,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
  }}
>
  <main id="main-content" aria-labelledby="page-title">
    {/* Hero Section */}
    <HeroSection hero={hero} />

    {/* Overview Section */}
    <OverviewCards overviewCards={overview.overviewCards} />

    {/* Our Expert Approach Section */}
    <SubSection data={approach} , bgColor="bg-secondary-light2" ariaLabel="approach" />

    {/* Service Deliverables Section */}
    <DeliverableCards data={deliverables} />

    {/* Regulatory Compliance Section */}
    <SubSection data={compliance} , bgColor="bg-secondary-light2" ariaLabel="regulations" />

    {/* Applications & Use Cases Section */}
    <SubSection data={applications} , bgColor="bg-white" ariaLabel="applications" />

    {/* Why Choose Us Section */}
    <SubSection data={conclusion} , bgColor="bg-primary-light" ariaLabel="why-us" />

    {/* CTA Section */}
    <CTASection cta={cta} />

    {/* FAQ Section */}
    <section class="maxwidth" aria-labelledby="faq-heading">
      <h2 id="faq-heading" class="sr-only">Frequently Asked Questions</h2>
      <Faq faqs={mainEntity} />
    </section>
  </main>
</Layout>
