---
// Imports
import Layout from '../../../layouts/Layout.astro';
import '@/styles/global.css';
import Picture from 'astro/components/Picture.astro';

// SEO Data
import seoData from '@/data/js/services/ade-pde-oel/tra-reports';

// Components
import Faq from '@/components/other/Faq.astro';
import HeroSection from '@/components/services/HeroSection.astro';
import MainContentSection from '@/components/services/MainContentSection.astro';
import ServiceCard from '@/components/services/ServiceCard.astro';
import ProcessSection from '@/components/services/ProcessSection.astro';
import ComplianceSection from '@/components/services/ComplianceSection.astro';
import ConclusionSection from '@/components/services/ConclusionSection.astro';
import CTASection from '@/components/services/CTASection.astro';

const { meta, image, schema, faqSchema, pageLink, full_description, name, deliverables, regulatory_basis } = seoData;
const { mainEntity } = faqSchema;
// const { hero, main, cards, process, compliance, conclusion, cta } = pageContent;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    image: image.path.src,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
  }}
>
  <main id="main-content" aria-labelledby="page-title">
    <section class="section">
      <div class="maxwidth flex flex-col items-center justify-center gap-10">
        <div>
          <div class="section flex justify-between not-even:flex-row-reverse">
            <div class="my-auto align-middle md:w-1/2">
              <h1>{name}</h1>
              <p class="py-6 leading-loose">{full_description}</p>
            </div>
            <div class="hidden transition-shadow hover:shadow-md md:block md:w-1/2 lg:w-1/3">
              <Picture src={image.path} alt={image.alt} />
            </div>
          </div>
        </div>
        {/* //TODO: colors and fond size through variables */}
      </div>
    </section>
    <section class="maxwidth bg-primary-light flex w-full justify-around gap-6 p-5">
      <div class="m-3">
        <h3>Deliverables</h3>
        <ul class="ml-4 list-disc py-2">
          {deliverables.map((item) => <li>{item}</li>)}
        </ul>
      </div>
      <div class="m-3">
        <h3>Regulatory Basis</h3>
        <ul class="ml-4 list-disc py-2">
          {regulatory_basis.map((item) => <li>{item}</li>)}
        </ul>
      </div>
    </section>

    {/* FAQ Section */}
    <section class="maxwidth" aria-labelledby="faq-heading">
      <h2 id="faq-heading" class="sr-only">Frequently Asked Questions</h2>
      <Faq faqs={mainEntity} />
    </section>
  </main>
</Layout>
