---
// Imports
import Layout from '../../../layouts/Layout.astro';
import '@/styles/global.css';

// SEO Data
import seoData from '@/data/js/services/containment-validation/surrogate-testing';

// Components
import Faq from '@/components/other/Faq.astro';
import HeroSection from '@/components/services/HeroSection.astro';
import MainContentSection from '@/components/services/MainContentSection.astro';
import ServiceCard from '@/components/services/ServiceCard.astro';
import ProcessSection from '@/components/services/ProcessSection.astro';
import ComplianceSection from '@/components/services/ComplianceSection.astro';
import ConclusionSection from '@/components/services/ConclusionSection.astro';
import CTASection from '@/components/services/CTASection.astro';

const { meta, image, schema, faqSchema, pageLink, full_description, deliverables, regulatory_basis, description } =
  seoData;
const { mainEntity } = faqSchema;
// const { hero, main, cards, process, compliance, conclusion, cta } = pageContent;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    image: image.path.src,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
  }}
>
  <main id="main-content" aria-labelledby="page-title">
    <div class="p-20">
      <h1 class="pb-10">{description}</h1>
      <h2>{full_description}</h2>

      <div class="py-10">
        <h3>Deliverables</h3>
        <ul>
          {deliverables.map((item) => <li>{item}</li>)}
        </ul>
      </div>
      <div>
        <h3>Regulatory Basis</h3>
        <ul>
          {regulatory_basis.map((item) => <li>{item}</li>)}
        </ul>
      </div>
    </div>

    {/* FAQ Section */}
    <section class="maxwidth" aria-labelledby="faq-heading">
      <h2 id="faq-heading" class="sr-only">Frequently Asked Questions</h2>
      <Faq faqs={mainEntity} />
    </section>
  </main>
</Layout>
